#body {
  height: 50em;
  background-image: url('../../../assets/imagem.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.card-cadastrar {
  height: auto;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 30px;
  background-color: #5A8EE0;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top: 1em;
}

#card-cadastrar-content {
  width: 90%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: red; */
}

h3 {
  text-transform: uppercase;
}

#card-cadastrar-top {
  /* background-color: red; */
  width: 90%;
  display: flex;
  justify-content: space-around;
}

#card-cadastrar-bottom {
  margin-top: 35px;
  margin-bottom: 40px;
  width: 62%;
  display: flex;
  justify-content: space-around;
  /* background-color: red; */
}

select {
  border-radius: 30px;
}

input {
  border-radius: 30px;
}

#btn-submit-area {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

#btn-submit {
  width: 8em;
  height: 3em;
  border-radius: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(45, 45, 255);
}