#body {
  height: 40em;
  background-image: url('../../assets/imagem.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  height: 50%;
  width: 40%;
  background-color: #5A8EE0;
  border-radius: 8%;
  box-shadow: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}